<%- include("header.ejs") %>


<section class="about">
    <div class="about-flex">
    <div class="about-text">
<h1 class="about-text-h1"> About Me</h1>

<img src="./pictures/bookimg.jpg" alt="book_image" class="about-image">

<p> Book Plus, a website I meticulously built, serves as a dedicated platform for book reviews. Users can add new books for review, edit existing entries, and delete them as needed. Each book profile includes a detailed summary, the author's name, and its submission date. Creating this site was a true labor of love, demanding considerable hard work and affection.</p>

</div>
</div>









</section>

<%- include("footer.ejs") %>