 <section id="footer" class="footer-backgroundColor">
        <div class="container"> 
        <footer class="py-3 mt-4"> 
        <ul class="nav justify-content-center border-bottom pb-3 mb-3"> 
        <li class="nav-item"><a href="/" class="nav-link px-2 text-light">Home</a></li> 
        <li class="nav-item"><a href="/newpost" class="nav-link px-2 text-light">New Post</a></li>  
        <li class="nav-item"><a href="/about" class="nav-link px-2 text-light">About</a></li> 
        </ul> 
        <p class="text-center text-light">© <%= new Date().getFullYear() %> Copyright reserved,Amish Kumar Dubey</p> 
         </footer>  </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    </body>
</html>